.about {
  margin-left: 200px;
  height: 100%;
}

.about-paragraph {
  margin: 0;
  margin-left: 20px;
}

.author-photo {
  width: 400px;
  height: 300px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}