.form-container {
  display: flex;
  margin-left: 200px;
  height: 100%;
  flex-direction: column;
  list-style: none;
  margin-top: 75px;
}

input {
  border: 1px solid;
  border-bottom: none;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 20px;
}

.message-input {
  width: 470px;
  height: 110px;
  max-width: 470px;
  max-height: 110px;
  padding: 15px;
} 
.message-input:focus {
  outline: none;
}

.email-input {
  padding: 15px;
}

.email-input:focus {
  outline: none;
}

.name-input {
  padding: 15px;
}
.name-input:focus {
  outline: none;
}

.about-form-btn { 
  background-color: white;
  border: 1px solid;
  padding: 15px;
}

input:hover::-webkit-input-placeholder {
  color: black;
}
input:focus::-webkit-input-placeholder {
  color: black;
  outline: none;
}